<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <title>TC Manager - Login</title>
</head>
<body>

<form class="form-signin" th:action="@{/security/processLogin}" th:object="${LoginInfo}" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="username" class="sr-only">Email address</label>
    <input th:field="*{username}" type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input th:field="*{password}" type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit">Login</button>
    <div th:if="*{error}" class="alert alert-error">
        Invalid username and/or password.
    </div>
</form>

</body>
</html>