<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout_with_form :: layout (~{::body},'home')}">
<head>
    <title>TC Manager - Login</title>
</head>
<body>

<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

<form class="form-signin" th:action="@{/security/processLogin}" th:object="${LoginInfo}" method="post">
    <label for="username" class="sr-only">User name</label>
    <input th:field="*{username}" type="text" id="username" name="username" class="form-control" placeholder="Username" aria-label="User name" required autofocus>

    <label for="password" class="sr-only">Password</label>
    <input th:field="*{password}" type="password" id="password" name="password" class="form-control" placeholder="Password" aria-label="Password" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit">Login</button>

    <div th:if="*{error}" class="alert alert-error">
        Invalid username and/or password.
    </div>
</form>

<script>
    $(document).ready(
        function()
        {
            $("#registrationButton").click(function()
                {
                    if(!validateEmail("email"))
                    {
                        return false;
                    }
                    if(!validateText("desiredUsername"))
                    {
                        return false;
                    }
                    if(!validateText("firstName"))
                    {
                        return false;
                    }
                    if (!validateText("lastName"))
                    {
                        return false;
                    }
                    if (!validateText("phone"))
                    {
                        return false;
                    }
                    $("form#registrationForm").submit();
                }
            );
        }
    );
</script>

</body>
</html>