<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout_with_form :: layout (~{::body},'home')}">
<head>
    <title>TC Manager - User Profile</title>
</head>
<body>

<h1 class="h3 mb-3 font-weight-normal">Edit your User profile</h1>

<form class="form-signin" th:action="@{/security/process_user_profile}" th:object="${LoggedInUser}" method="post">

    <label class="sr-only">User <span th:text="*{userName}">user name</span></label>

    <label for="email" class="sr-only">Email address</label>
    <input th:field="*{email}" type="text" id="email" name="email" class="form-control" placeholder="Email" required autofocus>

    <label for="password" class="sr-only">Password</label>
    <input th:field="*{password}" type="password" id="password" name="password" class="form-control" placeholder="Password" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit">Login</button>

    <div th:if="*{error}" class="alert alert-error">
        Invalid username and/or password.
    </div>
</form>

<script>
    $(document).ready(
        function()
        {
            $("#registrationButton").click(function()
                {
                    if(!validateEmail("email"))
                    {
                        return false;
                    }
                    if(!validateText("desiredUsername"))
                    {
                        return false;
                    }
                    if(!validateText("firstName"))
                    {
                        return false;
                    }
                    if (!validateText("lastName"))
                    {
                        return false;
                    }
                    if (!validateText("phone"))
                    {
                        return false;
                    }
                    $("form#registrationForm").submit();
                }
            );
        }
    );
</script>

</body>
</html>