<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:fragment="top_menu">
    <a class="navbar-brand" th:href="@{/}">TC Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- left-aligned navbar -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    Home <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Link
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                    Disabled
                </a>
            </li>
        </ul>
        <!-- right-aligned navbar -->
        <!-- LOGGED IN -->
        <ul class="navbar-nav ml-auto" th:if="${session.LoggedInUser ne null}">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/security/user_profile}" data-toggle="tooltip" title="Edit your user profile">
                    Logged in as <span th:text="${session.LoggedInUser.userName}">(logged in user name)</span>
                    <span class="fa fa-cog"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/security/logout}">
                    Log Out
                </a>
            </li>
        </ul>

        <!-- NOT LOGGED IN -->
        <ul class="navbar-nav ml-auto" th:unless="${session.LoggedInUser ne null}">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/security/login}">
                    Login
                    <span class="fa fa-user"></span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/security/register}">
                    Register
                    <span class="fa fa-asterisk"></span>
                </a>
            </li>
        </ul>

    </div>
</nav>


</body>
</html>